.text{
  background-color: #7dc8f0;
  border-color: black;
  border: 1px;
  height: 40px;
  width: 300px;
}
button{
  background-color: #88c8eb;
  border-color: #88c8eb;
  height: 30px;
  width: 80px;
  border-radius: 8px;

}
